[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqld]
explicit_defaults_for_timestamp=true
datadir=/var/lib/mysql/data
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
default-storage-engine=INNODB
log-error=/var/log/mysql/error.log
slow_query_log=on
long_query_time=1
slow-query-log-file=/var/log/mysql/slow.log